* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  nav :hover{
      color:yellow;
      transition: .5s;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(6, 46, 6);
    
  }
  
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-grow: 1;
    background-image: url("../images/julian-hanslmaier-afyeajNGFKg-unsplash.jpg");
    background-size: cover;
  }
  