* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  nav :hover{
      color:yellow;
      transition: .5s;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(6, 46, 6);
    
  }
  
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-grow: 1;
    background-image: url("../images/julian.jpg");
    background-size: cover;
    
  }
  .about-me {
    border: 5px solid rgba(0, 110, 255, 0.432);  
    padding: 25px;

  }
  .my-creations {
      border: 5px solid rgba(0, 110, 255, 0.432);  
      padding: 25px;
      
  }
  
  .contact-me {
      border: 5px solid rgba(0, 110, 255, 0.432);  
      padding: 25px;
      
      
  }
  .links {
      display: flex;
      justify-content: center;
  }
  .image {
      border-radius: 50px;
      border: 2px solid whitesmoke;
  }
  @media screen and (max-width: 700px) 
    nav {
      flex-direction: column;
    }
    footer {
      background-color: rgb(6, 46, 6);
      ;
    }