* {
    box-sizing: border-box;
  }
  .contact-me {
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-grow: 1;
    flex-flow: column;
    background-image: url("../images/julian.jpg");
    background-size: cover;

  }
  p{
    font-size: x-large;
    color: black;
  }
  body {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-size: auto;
  }
  
  a {
    border-radius: 50px;
    border: 2px solid whitesmoke;
    color:rgb(15, 80, 2);
    display: flex;
    justify-content: space-around;

  }
  header {
    padding: 40px;
    text-align: center;
    background-color: rgb(27, 116, 5);
    color: #fff;
    border-bottom:1px solid ivory;
    display: flexbox;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 16px;
    padding: 5px;    
    
    
  }
  nav :hover{
      font-size: x-large;
      color:rgba(224, 228, 7, 0.849);
      transition: .5s;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(6, 46, 6);
    
  }
  
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-grow: 1;
    flex-flow: column;
    background-image: url("../images/julian.jpg");
    background-size: cover;
} 
  .about-me {
    border: 5px solid rgba(3, 43, 117, 0.911);  
    padding: 25px;
    display: flex;


  }
  .my-creations {
      border: 5px solid rgb(27, 116, 5);  
      padding: 25px;
      box-shadow: 100px;
      
      
  }
  
  .contact-me {
      border: 5px solid rgba(3, 43, 117, 0.911);  
      padding: 55px;       
  }
  .links {
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: darkblue;
      color:white;
  }
  .image {
     justify-items: center;
      border-radius: 50px;
      border: 2px solid whitesmoke;
      margin: 1%;
  }
  .image-container {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 700px) {
    nav {
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      width: 50%;
    }
  }
    @media screen and(max-width:750px) {
      .card {
        width: 100%;
      }
  

    
    }
    h3 {
      color:rgb(15, 80, 2);
    }
    footer {
      text-align: center;
      background-color: rgb(27, 116, 5);
      color: #fff;
      margin-top: auto;
    }
  